@page "/match/edit"
@inject HttpClient httpClient
@inject NavigationManager NavigationManager

<PageTitle>Wedstrijd aanpassen</PageTitle>
<h1>Wedstrijdgegevens aanpassen</h1>

@if (_model != default)
{
    <EditMatchForm Model="@_model" ShowProgramData="true" OnValidSubmitCallback="@UpdateMatchAsync"></EditMatchForm>
}
else
{
    <div>Bezig met laden..</div>
}

@code {
    [CascadingParameter]
    public SharedLayout Layout { get; set; }

    private Models.Match? _model;

    protected override async Task OnInitializedAsync()
    {
        var redirect =
            string.IsNullOrEmpty(Layout?.MatchId) ||
            (await httpClient.GetStringAsync($"/api/matchExists?matchId={Layout.MatchId}")).Equals("0");

        if (redirect)
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        var model = await httpClient.GetFromJsonAsync<Models.Match>($"/api/GetMatchDetails?matchId={Layout.MatchId}");

        if (model != default)
        {
            _model = model;
        }
    }

    private async Task UpdateMatchAsync(Models.Match model)
    {
        model.Id = _model.Id;
        await httpClient.PostAsJsonAsync("/api/UpdateMatch", model);
        NavigationManager.NavigateTo("/match");
    }
}
