@page "/match/program"
@inject NavigationManager NavigationManager

<PageTitle>Wedstrijdprogramma</PageTitle>
<h1>Wedstrijdprogramma</h1>

<p>Downloadinstructies..</p>

@code {
    [CascadingParameter]
    public SharedLayout Layout { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Layout?.MatchId))
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
