@page "/match/registrations"
@inject NavigationManager NavigationManager

<PageTitle>Inschrijvingen</PageTitle>

<h1>Inschrijvingen</h1>

<p>match index</p>

@code {
    [CascadingParameter]
    public SharedLayout Layout { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Layout?.MatchId))
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
