@page "/about"

<PageTitle>Over deze app</PageTitle>
<h1>Over deze app</h1>

<p>
    Deze app is gebouwd als hobbyproject om meer te leren over
    <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a> en
    <a href="https://docs.microsoft.com/nl-nl/azure/static-web-apps/overview" target="_blank">Static Web Apps</a> in
    <a href="https://azure.microsoft.com/nl-nl/" target="_blank">Azure</a>.
</p>

<p>
    Ook natuurlijk omdat het een handige tool is om simpel en snel
    een volledig wedstrijdprogramma in elkaar te klikken zonder dat
    hier <a href="https://wiki.swimrankings.net/index.php/Meet_Manager:Frequently_Asked_Questions_(FAQ)" target="_blank">Splash</a>
    voor nodig is.
</p>

<p>
    De app is gratis om te gebruiken, en open source.
    De broncode is te vinden in de
    <a href="https://github.com/Soneritics/RecreatieveZwemwedstrijden" target="_blank">Github repository</a>.
</p>

<p>
    De app wordt geleverd zonder enige vorm van support en gebruik
    ervan is op eigen risico, in de breedste zin van het woord.
</p>

<p>
    De app kan na deployment in bijvoorbeeld Azure eenvoudig beveiligd worden
    met <a href="https://azure.microsoft.com/nl-nl/services/active-directory/" target="_blank">Azure Active Directory</a>.
    Dit is echter wel een eigen verantwoordelijkheid.
    Indien gegevens worden ingevoerd op een test- of voorbeeldomgeving kan
    niet gegarandeerd worden dat deze gegevens door anderen, zelfs al zijn zij niet
    in het bezit van het wedstrijd ID, ingezien en aangepast kunnen worden.
</p>

<p>
    Bij verdere vragen kan contact opgenomen worden met
    <a href="https://jordijolink.nl" target="_blank">Jordi Jolink</a>,
    bijvoorbeeld via <a href="mailto:mail@jordijolink.nl">mail@jordijolink.nl</a>.
</p>