@page "/"

<PageTitle>Recreatieve Zwemwedstrijden beheren</PageTitle>
<h1>Recreatieve Zwemwedstrijden beheren</h1>

<p>
    Welkom in deze app, waarmee simpele zwemwedstrijden (recreatieve wedstrijden)
    simpel beheerd kunnen worden.
</p>

<p>
    Met deze app kan een wedstrijd aangemaakt worden, inschrijvingen vastgelegd
    en een compleet wedstrijdprogramma opgemaakt worden, die vervolgens uitgeprint
    of als PDF opgeslagen kan worden.
</p>

<h2>Hoe het werkt</h2>
<h3>Wedstrijd aanmaken</h3>
<p>
    Om te beginnen moet een wedstrijd aangemaakt worden.
    Geruik hiervoor de knop in het menu.
</p>

<p>
    Wanneer een wedstrijd is aangemaakt wordt er een unieke code (Wedstrijd ID)
    gegenereerd. Het is belangrijk deze ergens op te slaan, omdat je met deze
    code de wedstrijd altijd weer kan openen.<br />
    Verlies je deze code, dan kan je de wedstrijd op een later moment
    niet meer beheren.
</p>

<p>
    Wanneer je op een later moment terugkomt en de wedstrijd wil beheren, open je
    de pagina 'Wedstrijd beheren' en voer je het Wedstrijd ID in van de wedstrijd
    die eerder is aangemaakt.
</p>

<h3>Inschrijven</h3>
<p>
    Wanneer je een wedstrijd hebt aangemaakt wordt deze gelijk geopend.
    Het menu verandert, waardoor je de mogelijheid hebt de wedstrijddetails
    te bekijen (en aan te passen), inschrijvingen kan beheren en het
    wedstrijdprogramma samen kan stellen.
</p>

<p>
    Om in te schrijven moeten eerst de deelnemende verenigingen toegevoegd worden.
    Wanneer deze zijn toegevoegd verschijnen deze in het overzicht met inschrijvingen.
    Vervolgens verschijnt een knop waarmee de inschrijvingen toegevoegd kunnen worden.
</p>

<h3>Wedstrijdprogramma aanmaken</h3>
<p>
    Wanneer de inschrijvingen gedaan zijn kan het wedstrijdprogramma aangemaakt worden.
    Dit proces is volledig geautomatiseerd.
</p>

<p>
    De pagina van het wedstrijdprogramma is geoptimaliseerd om geprint te worden, of te
    worden geëxporteerd naar PDF.
    Hiervoor kan de printfunctie gebruikt worden van de browser.
    Het is aan te raden hier een nieuwe versie van Google Chrome voor te gebruiken.
    Dit programma is daarin getest, en ook kan Chrome vanuit het printscherm eenvoudig
    PDF-documenten maken.
</p>

<p>
    Wanneer de onderstaande gegevens aangepast worden, moet het wedstrijdprogramma opnieuw
    aangemaakt worden. Eventuele wijzigingen in de volgorde van de zwemmers moeten dan
    nogmaals gedaan worden.
</p>
<ul>
    <li>Wedstrijddetails</li>
    <li>Inschrijvingen</li>
</ul>
