@page "/add-match"
@using Models
@inject NavigationManager NavigationManager
@inject HttpClient httpClient

<PageTitle>Wedstrijd toevoegen</PageTitle>
<h1>Wedstrijd toevoegen</h1>

<p>Met onderstaand formulier kan een wedstrijd aangemaakt worden.</p>
<p>
    Wanneer de wedstrijd is aangemaakt wordt een uniek ID gegenereerd.
    Met dit ID kan vervolgens de inschrijving afgerond worden, en het programma gedownload.
</p>

<EditMatchForm OnValidSubmitCallback="@AddMatchAsync" ShowProgramData="true"></EditMatchForm>

@code {
    [CascadingParameter]
    public SharedLayout Layout { get; set; }

    private async Task AddMatchAsync(Match model)
    {
        var response = await httpClient.PostAsJsonAsync($"/api/AddMatch", model);
        var match = await response.Content.ReadFromJsonAsync<Match>();
        Layout.MatchId = match.Id;
        NavigationManager.NavigateTo("/match");
    }
}