@page "/add-match"
@using Models
@inject NavigationManager NavigationManager
@inject HttpClient httpClient

<PageTitle>Wedstrijd toevoegen</PageTitle>

<h1>Wedstrijd toevoegen</h1>

<p>blabla.</p>

<AddMatchForm OnValidSubmitCallback="@AddMatchAsync"></AddMatchForm>

@code {
    [CascadingParameter]
    public SharedLayout Layout { get; set; }

    private async Task AddMatchAsync(Match model)
    {
        var response = await httpClient.PostAsJsonAsync($"/api/AddMatch", model);
        var match = await response.Content.ReadFromJsonAsync<Match>();
        Layout.MatchId = match.Id;
        NavigationManager.NavigateTo("/match");
    }
}