@inherits LayoutComponentBase
@inject HttpClient _httpClient

<CascadingValue Value="this">
    <div class="page">
        <div class="sidebar">
            @if (MatchId != default)
            {
                <MatchNavMenu/>
            }
            else
            {
                <MainNavMenu/>
            }
        </div>

        <main>
            <div class="top-row px-4">
                <NavLink href="about">Over</NavLink>

                @if (_repositoryType != default)
                {
                    <span class="ps-4">Opslag: @_repositoryType</span>
                }

                @if (_build != default)
                {
                    <span class="ps-4">Versie: @_build</span>
                }
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code {
    private string? _build;

    private string? _repositoryType;

    public string? MatchId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _build = await _httpClient.GetStringAsync("api/BuildNumber");
        _repositoryType = await _httpClient.GetStringAsync("api/GetRepositoryType");
    }
}